openapi: '3.0.0'
info:
  version: 1.0.0
  title: RTS Online API
  license:
    name: MIT
servers:
  - url: https://api.rtsonline.rs/v1
paths:
  /news:
    get:
      summary: Retrieve a paginated list of news articles from RTS Online, including breaking news and in-depth analysis from Serbia, the Balkans, and international sources. This endpoint supports filtering by category, date range, and search keywords to help users find relevant content quickly.
      operationId: listNews
      parameters:
        - name: limit
          in: query
          description: Number of articles to return (maximum 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: Successful response with a list of news articles
          headers:
            x-next:
              description: Link to the next page of results
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/News'
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new news article in the RTS Online system, allowing content managers to publish breaking news and updates. This endpoint requires proper authentication and validates article content before publication.
      operationId: createNews
      responses:
        201:
          description: Article created successfully
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /news/{newsId}:
    get:
      summary: Retrieve detailed information about a specific news article, including full content, metadata, and related media. This endpoint provides comprehensive article data for display in applications or websites.
      operationId: showNewsById
      parameters:
        - name: newsId
          in: path
          required: true
          description: Unique identifier of the news article
          schema:
            type: string
      responses:
        200:
          description: Detailed news article information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/News'
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /streams:
    get:
      summary: List all available live streams and on-demand content from RTS Online, including radio and TV broadcasts. This endpoint provides stream metadata and access URLs for integration into media applications.
      operationId: listStreams
      parameters:
        - name: type
          in: query
          description: Filter streams by type (live or on-demand)
          required: false
          schema:
            type: string
      responses:
        200:
          description: List of available streams
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Streams'
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Schedule a new stream for broadcast on RTS Online, enabling content creators to plan live events and program releases. This endpoint handles stream configuration and metadata setup.
      operationId: createStream
      responses:
        201:
          description: Stream scheduled successfully
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /streams/{streamId}:
    get:
      summary: Get detailed information about a specific stream, including playback URLs, metadata, and availability status. This endpoint is essential for implementing stream players in applications.
      operationId: showStreamById
      parameters:
        - name: streamId
          in: path
          required: true
          description: Unique identifier of the stream
          schema:
            type: string
      responses:
        200:
          description: Stream details and playback information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Streams'
        default:
          description: Unexpected error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    News:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
        publishedAt:
          type: string
          format: date-time
    Streams:
      type: array
      items:
        $ref: '#/components/schemas/Stream'
    Stream:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        type:
          type: string
        url:
          type: string
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string